<div class="row">
	<div class="col m4 offset-m1 s12 ">
		<div class="input-field">
			<%= form.text_field "card[fullname]", id: 'fullname', required: true %>
			<label for="email">Nome no cartão</label>
		</div>
		<div class="input-field">
			<%= form.text_field "card[cpf]", id: 'cpf', required: true %>
			<label for="number">CPF</label>
		</div>
		<div class="input-field">
			<%= form.date_field "card[birthdate]", id: 'birthdate', required: true %>
			<label for="cvc">Data de nascimento</label>
		</div>
	</div>
	<div class="col m4 offset-m2 s12">
		<div class="input-field">
			<%= form.text_field "card[number]", id: 'card_number', required: true %>
			<label for="number">Número</label>
		</div>
		<div class="input-field">
			<%= form.select("expiration_month", (1..12).to_a) %>
			<label for="expiration_month">Mês de expiração</label>
		</div>
		<div class="input-field">
			<%= form.select("expiration_year", credit_card_expiration_year_range) %>
			<label for="expiration_year">Ano de expiração</label>
		</div>
		<div class="input-field">
			<%= form.text_field :cvc, id: 'card_cvc', required: true %>
			<label for="cvc">CVC</label>
		</div>
		<div class="input-field">
			<textarea id="public_key" style="display:none;">
				-----BEGIN PUBLIC KEY-----
				MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAprwMoD77CyE3InyYPyY1
				xSr/AOO+IYwvHGa31Rd8DVAFhQcCb2XsIaHg6OLQVM4tnJVkK8xiTvNkQyMX2VEq
				PDbCPFQRT8E0Any8w4BHGl7XRFVz2eV6izy/CN4QvBk8MNdBY+mFWcoPXnYoupN/
				vL3Ui0dSI5dDlEJUaKGq/bwO3qHh+kOlpBXIy4Un8fIKh9IZkbj8gt8yHPhLD1/C
				dJnHQGd0S/qsVOLwlkqs8/9bAGrK0M2bdXn+Z7Utl6GWXz4Sy3YtQJmO0qsTyxd5
				K7DKJogS416pLD/6PjhZwB/8EcToLa9UGLnYn8oW+N87upH8F2uhkytZNjAiCVbt
				aQIDAQAB
				-----END PUBLIC KEY-----
			</textarea>
		</div>
		<div class="input-field">
			<%= form.hidden_field "card_hash", value: '' %>
		</div>
	</div>
</div>